@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$white: #FFFFFF;
$black: #000000;
$background: #D9D9D9;
$background2: #949494;
$banner: #C0C0C0;
$inter-font: "Inter", sans-serif;

